<div class="content-card blog-card">
    <div class="content-card__header">
        <div class="content-card__img-wrap">
            {{#if this.image}}
            <img src="{{ this.image }}" class="content-card__img" alt="{{ this.title }}" />
            {{else}}
            <img
                src="/assets/img/blog-placeholder.jpg"
                class="content-card__img"
                alt="{{ this.title }}"
            />
            {{/if}}
            <div class="content-card__overlay">
                <div class="blog-card__badges">
                    <div class="blog-card__badge blog-card__badge--type">
                        <i class="fas fa-book"></i>Blog
                    </div>
                    <div class="blog-card__badge">
                        <i class="fas fa-book-reader"></i>{{ this.readTime }}m read
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-card__body">
        <div class="content-card__meta">
            <a href="/users/{{ author._id }}" class="content-card__author">
                <img
                    src="{{#if author.profile_picture}}{{
                        author.profile_picture
                    }}{{else}}/assets/img/avatar.jpg{{/if}}"
                    alt="{{ author.username }}"
                />
                <span>{{ author.first_name }} {{ author.last_name }}</span>
            </a>
        </div>

        <h3 class="content-card__title">
            <a href="/blogs/{{ this.slug }}">{{ this.title }}</a>
        </h3>

        <p class="content-card__desc">{{ this.description }}</p>

        <div class="content-card__footer">
            <div class="blog-card__tags">
                <span class="blog-card__tag blog-card__tag--category">
                    {{ this.category }}
                </span>
                {{#each (limit this.tags 2)}}
                <span class="blog-card__tag">{{ this }}</span>
                {{/each}}
            </div>
            <div class="blog-card__stats">
                <span><i class="fas fa-thumbs-up"></i>{{ this.votes.upvotes }}</span>
                <span><i class="fas fa-eye"></i>{{ this.views }}</span>
            </div>
        </div>
    </div>
</div>
