<div class="content-card recipe-card">
    <div class="content-card__header">
        <div class="content-card__img-wrap">
            {{#if this.image}}
            <img src="{{ this.image }}" class="content-card__img" alt="{{ this.title }}" />
            {{else}}
            <img
                src="/assets/img/recipe-placeholder.jpg"
                class="content-card__img"
                alt="{{ this.title }}"
            />
            {{/if}}
            <div class="content-card__overlay">
                <div class="recipe-card__badges">
                    <div class="recipe-card__badge recipe-card__badge--type">
                        <i class="fas fa-utensils"></i>Recipe
                    </div>
                    <div class="recipe-card__badge">
                        <i class="fas fa-clock"></i>{{ add this.prepTime this.cookTime }}m
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-card__body">
        <div class="content-card__meta">
            <a href="/users/{{ author._id }}" class="content-card__author">
                <img
                    src="{{#if author.profile_picture}}{{
                        author.profile_picture
                    }}{{else}}/assets/img/avatar.jpg{{/if}}"
                    alt="{{ author.username }}"
                />
                <span>{{ author.first_name }} {{ author.last_name }}</span>
            </a>
        </div>

        <h3 class="content-card__title">
            <a href="/recipes/{{ this.slug }}">{{ this.title }}</a>
        </h3>

        <p class="content-card__desc">{{ this.description }}</p>

        <div class="content-card__footer">
            <div class="recipe-card__tags">
                <span class="recipe-card__tag recipe-card__tag--{{ this.difficulty }}">
                    {{ this.difficulty }}
                </span>
                <span class="recipe-card__tag">{{ this.servings }} servings</span>
            </div>
            <div class="recipe-card__stats">
                <span><i class="fas fa-thumbs-up"></i>{{ this.votes.upvotes }}</span>
                <span><i class="fas fa-eye"></i>{{ this.views }}</span>
            </div>
        </div>

        <div class="content-card__actions">
            <a href="/recipes/{{ this.slug }}/edit" class="btn btn--outline btn--sm">
                <i class="fas fa-edit"></i>Edit
            </a>
            <button
                class="btn btn--danger btn--sm"
                data-bs-toggle="modal"
                data-bs-target="#deleteModal"
                onclick="deleteRecipe('{{ this.slug }}')"
            >
                <i class="fas fa-trash-alt"></i>Delete
            </button>
        </div>
    </div>
</div>
