<div class="notification-dropdown">
    <div class="notification-dropdown__header">
        <h3 class="notification-dropdown__title">Notifications</h3>
        {{#if notifications.length}}
        <button class="notification-dropdown__mark-all">Mark all as read</button>
        {{/if}}
    </div>

    {{#if notifications.length}}
    <div class="notification-dropdown__list">
        {{#each notifications}}
        <a href="{{#if content_id}}/{{content_type}}s/{{content_id}}{{else}}#{{/if}}" 
           class="notification-dropdown__item {{#unless is_read}}notification-dropdown__item--unread{{/unless}}"
           data-notification-id="{{_id}}">
            <img src="{{#if content_type_data.image}}{{content_type_data.image}}{{else}}/assets/img/avatar.jpg{{/if}}" 
                 alt="Notification image" 
                 class="notification-dropdown__avatar">
            <div class="notification-dropdown__content">
                <p class="notification-dropdown__message">{{message}}</p>
                <span class="notification-dropdown__time">{{formatDate created_at}}</span>
            </div>
        </a>
        {{/each}}
    </div>
    {{else}}
    <div class="notification-dropdown__empty">
        <img src="/assets/img/no-notifications.svg" alt="No notifications">
        <h3>No notifications yet</h3>
        <p>We'll notify you when something interesting happens</p>
    </div>
    {{/if}}
</div>
