<script>
    window.isAuthenticated = {{#if user}}true{{else}}false{{/if}};
</script>

<main class="content-detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {{!-- Recipe Header --}}
                <div class="content-detail__header">
                    <h1 class="content-detail__heading">{{ recipe.title }}</h1>
                    <div class="content-detail__meta">
                        <a href="/users/{{ recipe.author._id }}" class="content-detail__author">
                            <img
                                src="{{#if recipe.author.profile_picture}}{{
                                    recipe.author.profile_picture
                                }}{{else}}/assets/img/avatar.jpg{{/if}}"
                                alt="{{ recipe.author.username }}"
                                class="content-detail__author-img"
                            />
                            <span
                                >By {{ recipe.author.first_name }}
                                {{ recipe.author.last_name }}</span
                            >
                        </a>
                        <div class="content-detail__stats">
                            <span
                                class="content-detail__date"
                                >{{ formatDate recipe.createdAt }}</span
                            >
                            <span class="content-detail__views">{{ recipe.views }} views</span>
                        </div>
                    </div>
                </div>

                {{!-- Recipe Image --}}
                <div class="content-detail__image-wrapper">
                    {{#if recipe.image}}
                    <img
                        src="{{ recipe.image }}"
                        alt="{{ recipe.title }}"
                        class="content-detail__image"
                    />
                    {{else}}
                    <img
                        src="/assets/img/recipe-placeholder.jpg"
                        alt="{{ recipe.title }}"
                        class="content-detail__image"
                    />
                    {{/if}}
                </div>

                {{!-- Recipe Info --}}
                <div class="content-detail__info">
                    <div class="content-detail__info-item">
                        <i class="fas fa-clock"></i>
                        <div>
                            <h4>Total Time</h4>
                            <p>{{ add recipe.prepTime recipe.cookTime }} mins</p>
                        </div>
                    </div>
                    <div class="content-detail__info-item">
                        <i class="fas fa-user-clock"></i>
                        <div>
                            <h4>Prep Time</h4>
                            <p>{{ recipe.prepTime }} mins</p>
                        </div>
                    </div>
                    <div class="content-detail__info-item">
                        <i class="fas fa-fire"></i>
                        <div>
                            <h4>Cook Time</h4>
                            <p>{{ recipe.cookTime }} mins</p>
                        </div>
                    </div>
                    <div class="content-detail__info-item">
                        <i class="fas fa-users"></i>
                        <div>
                            <h4>Servings</h4>
                            <p>{{ recipe.servings }} people</p>
                        </div>
                    </div>
                    <div class="content-detail__info-item">
                        <i class="fas fa-chart-line"></i>
                        <div>
                            <h4>Difficulty</h4>
                            <p
                                class="content-detail__difficulty content-detail__difficulty--{{
                                    recipe.difficulty
                                }}"
                            >
                                {{ recipe.difficulty }}
                            </p>
                        </div>
                    </div>
                </div>

                {{!-- Description --}}
                <div class="content-detail__section">
                    <h2 class="content-detail__section-title">Description</h2>
                    <p class="content-detail__description">{{ recipe.description }}</p>
                </div>

                {{!-- Ingredients --}}
                <div class="content-detail__section">
                    <h2 class="content-detail__section-title">Ingredients</h2>
                    <ul class="content-detail__ingredients">
                        {{#each recipe.ingredients}}
                        <li class="content-detail__ingredient">
                            <span class="content-detail__ingredient-quantity">{{
                                this.quantity
                            }}</span>
                            <span class="content-detail__ingredient-name">{{ this.name }}</span>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                {{!-- Instructions --}}
                <div class="content-detail__section">
                    <h2 class="content-detail__instructions-title">
                        <i class="fas fa-list-ol"></i>
                        Instructions
                    </h2>
                    <ol class="content-detail__instructions">
                        {{#each recipe.instructions}}
                        <li class="content-detail__instruction">
                            <span class="content-detail__instruction-number">{{add @index 1}}</span>
                            <p>{{ this.description }}</p>
                        </li>
                        {{/each}}
                    </ol>
                </div>

                {{!-- Comments Section --}}
                <section class="content-detail__comments">
                    <h2 class="content-detail__section-title">
                        Comments ({{ recipe.comments.length }})
                    </h2>

                    {{!-- Comment Form --}}
                    {{#if user}}
                    <form
                        action="/recipes/{{ recipe.slug }}/comment"
                        method="POST"
                        class="content-detail__comment-form"
                    >
                        <div class="comment-form__group">
                            <textarea
                                name="content"
                                class="comment-form__input"
                                placeholder="Write your comment..."
                                required
                            ></textarea>
                        </div>
                        <button type="submit" class="btn btn--primary">Post Comment</button>
                    </form>
                    {{else}}
                    <div class="comment-form__login-prompt">
                        <p>Please <a href="/auth/signin">sign in</a> to leave a comment.</p>
                    </div>
                    {{/if}}

                    {{!-- Comments List --}}
                    <div class="comments-list">
                        {{#if recipe.comments.length}}
                        {{#each recipe.comments}}
                        {{> comment comment=this user=../user}}
                        {{/each}}
                        {{else}}
                        <p class="comments-list__empty">
                            No comments yet. Be the first to comment!
                        </p>
                        {{/if}}
                    </div>
                </section>

                {{!-- Recommendations Section --}}
                {{#if recommendations.length}}
                <div class="recommendations-section">
                    <h2 class="recommendations-title">Similar Recipes</h2>
                    <div class="recommendations-content">
                        {{#each recommendations}}
                        {{> recipe-card}}
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>

            {{!-- Sidebar --}}
            <div class="col-lg-4">
                <div class="content-detail__sidebar">
                    {{!-- Author Card --}}
                    <div class="content-detail__author-card">
                        <img
                            src="{{#if recipe.author.profile_picture}}{{
                                recipe.author.profile_picture
                            }}{{else}}/assets/img/avatar.jpg{{/if}}"
                            alt="{{ recipe.author.username }}"
                        />
                        <h3>{{ recipe.author.first_name }} {{ recipe.author.last_name }}</h3>
                        <p>@{{ recipe.author.username }}</p>
                        {{#if isAuthenticated}}
                        {{#unless (eq user._id recipe.author._id)}}
                        <button
                            onclick="handleFollowAction('{{#if isFollowing}}unfollow{{else}}follow{{/if}}', '{{
                                recipe.author._id
                            }}')"
                            class="btn {{#if isFollowing}}btn--outline{{else}}btn--primary{{/if}}"
                        >
                            {{#if isFollowing}}Unfollow{{else}}Follow{{/if}}
                        </button>
                        {{/unless}}
                        {{else}}
                        <a href="/sign-in" class="btn btn--primary">Follow</a>
                        {{/if}}
                    </div>

                    {{!-- Actions Card --}}
                    <div class="content-detail__actions-card">
                        <div class="content-detail__actions-wrapper">
                            <button
                                class="vote-btn upvote-btn {{#if recipe.userVoted.up}}voted{{/if}}"
                                onclick="handleVote('up')"
                            >
                                <i class="fas fa-thumbs-up"></i>
                                <span class="upvote-count">{{ recipe.votes.upvotes }}</span>
                            </button>
                            <button
                                class="vote-btn downvote-btn {{#if recipe.userVoted.down}}voted{{/if}}"
                                onclick="handleVote('down')"
                            >
                                <i class="fas fa-thumbs-down"></i>
                                <span class="downvote-count">{{ recipe.votes.downvotes }}</span>
                            </button>
                        </div>

                        <div class="content-detail__actions-wrapper">
                            <button class="btn btn--outline btn--block">
                                <i class="fas fa-share"></i>Share
                            </button>
                            <button class="btn btn--outline btn--block">
                                <i class="fas fa-print"></i>Print
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {{#if recommendedRecipes.length}}
            <section class="content-detail__recommended">
                <h2 class="content-detail__section-title">Similar Recipes</h2>
                <div class="row row-cols-4 gy-4">
                    {{#each recommendedRecipes}}
                    <div class="col">
                        {{> recipe-card}}
                    </div>
                    {{/each}}
                </div>
            </section>
            {{/if}}
        </div>
    </div>
</main>

<script src="/js/userActions.js"></script>
<script>
    // Voting functionality
    async function handleVote(voteType) {
        if (!window.isAuthenticated) {
            window.location.href = "/sign-in";
            return;
        }

        try {
            const response = await fetch(`/recipes/{{ recipe.slug }}/vote`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ voteType }),
            });

            if (response.url.includes("/sign-in")) {
                window.location.href = "/sign-in";
                return;
            }

            const data = await response.json();

            if (data.success) {
                // Update vote counts
                document.querySelector(".upvote-count").textContent = data.upvotes;
                document.querySelector(".downvote-count").textContent = data.downvotes;

                // Update button states
                const upvoteBtn = document.querySelector(".upvote-btn");
                const downvoteBtn = document.querySelector(".downvote-btn");

                upvoteBtn.classList.toggle("voted", data.userVoted.up);
                downvoteBtn.classList.toggle("voted", data.userVoted.down);
            }
        } catch (error) {
            console.error("Error:", error);
            alert("Error updating vote");
        }
    }
</script>

{{#if messages.success}}
<div class="alert alert--success">
    {{ messages.success }}
</div>
{{/if}}
{{#if messages.error}}
<div class="alert alert--danger">
    {{ messages.error }}
</div>
{{/if}}

<script src="/js/comment.js"></script>
